.btn-animate-chars {
    cursor: pointer;
    border-radius: .25em;
    flex-grow: 1;
    max-width: 22em;
    padding: 1em;
    line-height: 1;
    text-decoration: none;
    display: flex;
    position: relative;
    font-size: 1.1rem;
  }

  @media screen and (max-width: 767px) {
    .btn-animate-chars {
      font-size: 0.85rem;
    }
  }
  
  .btn-animate-chars__text {
    white-space: nowrap;
    line-height: 1.3;
  }
  
  /* Characters */
  .btn-animate-chars [data-button-animate-chars] {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .btn-animate-chars [data-button-animate-chars] span {
    display: inline-block;
    position: relative;
    text-shadow: 0px 1.3em currentColor;
    transform: translateY(0em) rotate(0.001deg);
    transition: transform 0.6s cubic-bezier(0.625, 0.05, 0, 1);
  }
  
  .btn-animate-chars:hover [data-button-animate-chars] span {
    transform: translateY(-1.3em) rotate(0.001deg);
  }